.temp-component {
  border-width: 1px;
  border-color: red;
  border-style: solid;
  background-color: bisque;
  padding: 10px;
  margin: 10px;
}

.temp-main {
  border-width: 1px;
  border-color: blue;
  border-style: solid;
  background-color: azure;
  padding: 10px;
  margin: 10px;
}

.fa-check-circle.purple {
  color: #6664d4;
}

.PRGS-branding-shape {
  fill: #5ce500;
}
.PRGS-branding-text {
  fill: white;
}

.nstraining-logo-1 {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}
